name: Release MTXPanel (Linux x64)

on:
    push:
        tags:
            - "v*" # Trigger on tags like v1.0.0
permissions:
  contents: write
  
jobs:
    build-and-release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "20.18.3"

            - name: Install dependencies
              run: npm i

            - name: Build for production
              run: npm run production # Assumes this generates files in `dist/`

            - name: Compress dist/ into mtxpanel-linux-x64.tar.gz
              run: |
                  tar -czvf mtxpanel-linux-x64.tar.gz -C dist/ build/ ts-panel .env.example lib/ mtxpanel.service

            - name: Release to target repository
              uses: softprops/action-gh-release@v1
              with:
                  repository: rezvanniazi/mtxpanel-release  # Target repo
                  name: "MTXPanel Linux x64 - ${{ github.ref_name }}"
                  tag_name: ${{ github.ref_name }}
                  body: |
                    Production build for Linux x64. Version: ${{ github.ref_name }}
                    **Version:** ${{ github.ref_name }}
                    **Built from:** ${{ github.repository }}@${{ github.sha }}
                    **Date:** ${{ github.event.head_commit.timestamp }}
                  files: |
                      mtxpanel-linux-x64.tar.gz
                  draft: false
                  prerelease: false
              env:
                  GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }} # Auto-injected by GitHub
